{% extends 'base.html.twig' %}

{% block body %}
    {% set ruta = app.request.get('_route') %}
    {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Desplegar barra de navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('entrar') }}">
                        <img alt="Brand" src="{{ asset('assets/images/Logo_Camara_de_Linares_blanco.png') }}">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('perfil') }}"><i class="fa fa-user"></i> Mi perfil</a></li>
                            <li><a href="{{ path('salir') }}">{{ app.user.dni }} - Salir</a></li>
                        {% else %}
                            <li{% if ruta == 'entrar' %} class="active"{% endif %}><a href="{{ path('entrar') }}">Acceder</a></li>
                            <li{% if ruta == 'registro_personal' or ruta =="registro_formacion" %} class="active"{% endif %}><a href="{{ path('registro') }}">Registrarse</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible div-alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible div-alert" style="margin-top: 60px;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
