{% extends 'layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/validacion.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="message-container">
        <p class="message">
            El NIF es erroneo. El formato no es válido.
        </p>
    </div>
    <div class="container ">
        <h3>
            <a href="{% if app.user.isAdmin %}{{ path('administracion') }}{% else %}{{ path('perfil') }}{% endif %}" class="pull-left" style="margin-top: 55px;">
                <i class="fa fa-angle-left" style="font-size: 30px"></i>
                Volver
            </a>
        </h3>

        <div class="card-registro col-lg-7">
            <h1>
                Editar datos Personales
            </h1>
            <div class="box-registro">

                {{ form_start(formulario) }}
                <button type="submit" name="enviar" class="btn btn-success pull-right" style="margin-top: -85px">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
                {{ form_widget(formulario) }}
                <div class="form-group">
                    <div class="col-sm-4">
                        <a href="{% if app.user.isAdmin %}{{ path('administracion') }}{% else %}{{ path('perfil') }}{% endif %}" class="btn btn-warning pull-left">
                            <i class="fa fa-arrow-left"></i>
                            Volver
                        </a>
                    </div>
                    <div class="col-sm-5">
                        <a href="{% if app.user.isAdmin %}{{ path('cambiar_pass', {'id': usuario.id}) }}{% else %}{{ path('cambiar_pass', {'id': app.user.id}) }}{% endif %}" class="btn btn-info pull-left">
                            <i class="fa fa-retweet"></i>
                            Modificar contraseña
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" name="enviar" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
                {{ form_end(formulario) }}
            </div>

        </div>

    </div>



{% endblock %}