{% extends 'layout.html.twig' %}

{% block title %}Inicio | Bolsa de empleo{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.avatar').mouseenter(function () {
                $('.avatar a').css("display","initial");
            }).mouseleave(function () {
                $('.avatar a').css("display","none");
            });

            $('.card-principal').unbind("mouseenter").mouseenter(function () {
                $(this).find('.edit-action a').css("display","initial");
            }).unbind("mouseleave").mouseleave(function () {
                $(this).find('.edit-action a').css("display","none");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="clearfix"></div>
    <div class="container box-perfil col-lg-12">
        <div class="container col-lg-3 card-principal box-avatar">
            <div class="avatar">
                <a href="#" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-camera"></i>
                </a>
                {% if usuario.foto == null %}
                    <img src="{{ asset('assets/images/perfil-default.png') }}" alt="avatar" />
                {% else %}
                    <img src="{{ asset('uploads/users/'~usuario.foto) }}" alt="avatar" />
                {% endif %}
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Escoge una imagen de perfil</h4>
                    </div>
                    <div class="modal-body">
                        <label class="label label-info text-center" style="display: block">
                            <i class="fa fa-info-circle"></i>
                            Se recomienda usar una imagen cuadrada (ej. 200x200, 400x400)
                        </label>
                        {{ form_start(formulario) }}
                        {{ form_widget(formulario) }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                        {{ form_end(formulario) }}
                    </div>

                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="col-lg-1"></div>
        <div class="container col-lg-8 card-principal">
            <div class="col-lg-10">
                <h1 class="card-header">
                    Datos personales
                </h1>
            </div>
            <div class="col-lg-2 edit-action">
                <a href="{{ path('editar_personal') }}" class="btn btn-info">
                    <i class="fa fa-edit"></i>
                    Editar
                </a>
            </div>
            <div class="clearfix"></div>
            <hr>

            <div class="container col-lg-12 card-body">
                <div class="col-lg-4 card-item">
                    <span>
                        {{ usuario.nombre }} {{ usuario.apellidos }}
                    </span>
                    {% set diferencia = usuario.fechaNac.diff(date('now')) %}
                    {% set edad = (diferencia.days/365)|number_format(0, '.', ',') %}
                    <span>
                        {{ usuario.fechaNac | date('d/m/Y', "Europe/Madrid") }} - {{ edad }} años
                    </span>
                    {% if usuario.email != null %}
                        <span>
                            {{ usuario.email }}
                        </span>
                    {% else %}
                        <span class="label label-warning">
                            No tienes un email
                        </span>
                    {% endif %}
                    <span>
                        {{ usuario.telefono }}
                    </span>
                    {% if usuario.movil != null %}
                        <span>
                            {{ usuario.movil }}
                        </span>
                    {% endif %}
                </div>
                <div class="col-lg-4 card-item">
                    <span>
                        {{ usuario.domicilio }}
                    </span>
                    <span>
                        {{ usuario.codPostal }}, {{ usuario.poblacion }} ({{ usuario.provincia }})
                    </span>
                    <span>
                        {{ usuario.pais }}
                    </span>
                </div>
                <div class="col-lg-4 card-item">
                    <span>
                        {{ usuario.situLaboral }}
                    </span>
                    <span>
                        {% if usuario.sexo == "H" %}
                            Hombre,
                        {% else %}
                            Mujer,
                        {% endif %}
                        {{ usuario.estadoCivil }}
                        {% if usuario.hijos %}
                            con hijos
                        {% else %}
                            sin hijos
                        {% endif %}
                    </span>
                    {% if usuario.carneConducir %}
                        <span>
                            Carné de conducir,
                            {% if usuario.claseCarne != null %}
                                Clase {{ usuario.claseCarne }}
                            {% else %}
                                sin hijos
                            {% endif %}
                        </span>
                    {% else %}
                        <span>
                            Sin carné de conducir
                        </span>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <hr>
                <div class="col-lg-4 card-item">
                    {% if usuario.vehiculoPropio %}
                        <span>
                            Vehiculo propio
                        </span>
                    {% endif %}
                    <span>
                        {% if usuario.dispViajar %}
                            Disponibilidad para viajar
                        {% else %}
                            No disponible para viajar
                        {% endif %}
                    </span>
                    <span>
                        Preferencias: {{ usuario.prefOcupacion }}
                    </span>
                </div>
                <div class="col-lg-8 card-item">
                    <span>
                        Nivel de formación: {{ usuario.nivelAcademico }}
                    </span>
                    <span>
                        Disponibilidad para cambiar de domicilio:
                        {% if usuario.dispCambioDomicilio != null %}
                            {{ usuario.dispCambioDomicilio }}
                        {% endif %}
                    </span>
                    <span>
                        Horario de trabajo {{ usuario.horarioTrabajo }}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="container col-lg-6 card-principal">
                <div class="col-lg-9">
                    <h1 class="card-header">
                        Formación académica
                    </h1>
                </div>
                <div class="col-lg-2 edit-action">
                    <a href="{{ path('add_formacion') }}" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Añadir
                    </a>
                </div>

                <div class="clearfix"></div>
                <hr>

                <div class="container col-lg-12 card-body">
                    {% if formacion|length > 0 %}
                        {% for item in formacion %}
                            {% set id = item.id %}
                            <div class="col-lg-12 card-item">
                                <span>
                                    Titulado en {{ item.titulacion }} en la especialidad de {{ item.especialidad }} en el centro {{ item.nombreCentro }}
                                </span>
                                <span>
                                    Obtenido el {{ item.obtencion|date('m/Y') }}
                                </span>
                                <span>
                                    <a href="{{ path('editar_formacion', {'id': item.id}) }}" class="btn btn-info pull-right">
                                        <i class="fa fa-pencil"></i>
                                        Editar
                                    </a>
                                    <a href="{{ path('eliminar_formacion', {'id': item.id}) }}" class="pull-right link-eliminar" onclick="return confirm('¿Estas seguro de que quieres borrar este elemento?. Esta acción no podrá deshacerse en el futuro.');">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </a>

                                </span>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-12 card-item">
                            <h4 class="text-center">Aún no has añadido una formación</h4>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-1"></div>
            <div class="container col-lg-5 card-principal">
                <div class="col-lg-9">
                    <h1 class="card-header">
                        Complementaria
                    </h1>
                </div>
                <div class="col-lg-3 edit-action">
                    <a href="{{ path('add_complementaria') }}" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Añadir
                    </a>
                </div>

                <div class="clearfix"></div>
                <hr>
                <div class="container col-lg-12 card-body">
                    {% if complementaria|length > 0 %}
                        {% for item in complementaria %}
                            <div class="col-lg-12 card-item">
                                <span>
                                    Titulado en {{ item.titulacion }} en el centro {{ item.nombreCentro }} - {{ item.horas }} horas
                                </span>
                                <span>
                                    Obtenido en {{ item.anio }}
                                </span>
                                <span>
                                    <a href="{{ path('editar_complementaria', {'id': item.id}) }}" class="btn btn-info pull-right">
                                        Editar
                                    </a>
                                    <a href="{{ path('eliminar_complementaria', {'id': item.id}) }}" class="pull-right link-eliminar" onclick="return confirm('¿Estas seguro de que quieres borrar este elemento?. Esta acción no podrá deshacerse en el futuro.');">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-12 card-item">
                            <h4 class="text-center">Aún no has añadido formación complementaria</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="container col-lg-12 card-principal">
                <div class="col-lg-10">
                    <h1 class="card-header">
                        Experiencia Laboral
                    </h1>
                </div>
                <div class="col-lg-1 edit-action">
                    <a href="{{ path('add_laboral') }}" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Añadir
                    </a>
                </div>

                <div class="clearfix"></div>
                <hr>

                <div class="container col-lg-12 card-body">
                    {% if laboral|length > 0 %}
                        {% for item in laboral %}
                            <div class="col-lg-4 card-item">
                                <span>
                                    Empresa: {{ item.empresa }}
                                </span>
                            </div>
                            <div class="col-lg-4 card-item">
                                <span>
                                    Puesto: {{ item.puesto }}
                                </span>
                            </div>
                            <div class="col-lg-4 card-item">
                                <span class="text-right">
                                    Fecha: {{ item.fechaInicio|date('m/Y') }} - {{ item.fechaFin|date('m/Y') }}
                                </span>
                            </div>
                            <div class="col-lg-4 card-item">
                                <span>
                                    Actividad: {{ item.actividad }}
                                </span>
                            </div>

                            <div class="col-lg-5 card-item">
                                <span>
                                    Tareas desempeñadas: {{ item.tareas }}
                                </span>
                            </div>
                            <div class="col-lg-12">
                                <span>
                                    <a href="{{ path('editar_laboral', {'id': item.id}) }}" class="btn btn-info pull-right">
                                        Editar
                                    </a>
                                    <a href="{{ path('eliminar_laboral', {'id': item.id}) }}" class="pull-right link-eliminar" onclick="return confirm('¿Estas seguro de que quieres borrar este elemento?. Esta acción no podrá deshacerse en el futuro.');">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-12 card-item">
                            <h4 class="text-center">Aún no has añadido experiencia laboral</h4>
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="container col-lg-5 card-principal">
                <div class="col-lg-9">
                    <h1 class="card-header">
                        Informática
                    </h1>
                </div>
                <div class="col-lg-3 edit-action">
                    <a href="{{ path('add_informatica') }}" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Añadir
                    </a>
                </div>

                <div class="clearfix"></div>
                <hr>
                <div class="container col-lg-12 card-body">
                    {% if informatica|length > 0 %}
                        {% for item in informatica %}
                            <div class="col-lg-12 card-item">
                                <span>
                                    {{ item.campo }} - Nivel {{ item.nivel }}
                                </span>
                                <span>
                                    Manejo: {{ item.programasManeja }}
                                </span>
                                <span>
                                    <a href="{{ path('editar_informatica', {'id': item.id}) }}" class="btn btn-info pull-right">
                                        Editar
                                    </a>
                                    <a href="{{ path('eliminar_informatica', {'id': item.id}) }}" class="pull-right link-eliminar" onclick="return confirm('¿Estas seguro de que quieres borrar este elemento?. Esta acción no podrá deshacerse en el futuro.');">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-12 card-item">
                            <h4 class="text-center">Aún no has añadido información informática</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="container col-lg-6 card-principal">
                <div class="col-lg-9">
                    <h1 class="card-header">
                        Idiomas
                    </h1>
                </div>
                <div class="col-lg-3 edit-action">
                    <a href="{{ path('add_idioma') }}" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                        Añadir
                    </a>
                </div>

                <div class="clearfix"></div>
                <hr>
                <div class="container col-lg-12 card-body">
                    {% if idiomas|length > 0 %}
                        {% for item in idiomas %}
                            <div class="col-lg-12 card-item">
                                <h4 style="border-bottom: 1px solid #337ab7;padding-bottom: 3px;margin-bottom: 0;">
                                    {{ item.idioma }}
                                </h4>

                                <span>
                                    Traducción {{ item.traduce }} - Nivel oral {{ item.habla }} - Nivel escrito {{ item.escribe }}
                                </span>

                                <span>
                                    <a href="{{ path('editar_idioma', {'id': item.id}) }}" class="btn btn-info pull-right">
                                        Editar
                                    </a>
                                    <a href="{{ path('eliminar_idioma', {'id': item.id}) }}" class="pull-right link-eliminar" onclick="return confirm('¿Estas seguro de que quieres borrar este elemento?. Esta acción no podrá deshacerse en el futuro.');">
                                        <i class="fa fa-trash"></i>
                                        Eliminar
                                    </a>
                                </span>
                                <div class="clearfix"></div>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div class="col-lg-12 card-item">
                            <h4 class="text-center">Aún no has añadido un idioma</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}