{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container ">
        <div class="card-registro col-lg-7">
            <h1>
                5. Idiomas
            </h1>
            <div class="box-registro">
                {{ form_start(formulario) }}
                {{ form_widget(formulario) }}
                <div class="form-group">
                    <div class="col-sm-5">
                        <div class="btn-group" role="group" aria-label="...">
                            <a href="{{ path('registro_laboral', {'id' : app.request.get('id')}) }}" class="btn btn-warning pull-left">
                                <i class="fa fa-arrow-left"></i>
                                Volver
                            </a>
                            <a href="{{ path('registro_informatica', {'id' : app.request.get('id')}) }}" class="btn btn-warning">
                                Omitir este paso
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="submit" name="enviar" class="btn btn-success">
                                <i class="fa fa-plus"></i>
                                Guardar y Nuevo
                            </button>
                            <button type="submit" name="enviar" class="btn btn-info">
                                <i class="fa fa-arrow-right"></i>
                                Guardar y siguiente
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_end(formulario) }}
            </div>
        </div>
    </div>
{% endblock %}